DB_NAME=project26_v1
DB_PORT=3306
DB_USERNAME=project26_v1
DB_PASSWORD=

TEST_DB_NAME=project26_v1_test
TEST_DB_PORT=3306
TEST_DB_USERNAME=project26_v1_test
TEST_DB_PASSWORD=

GMAIL_USERNAME=
GMAIL_PASSWORD=

JWT_SECRET=
JWT_ACCESS_TOKEN_SECONDS=
JWT_REFRESH_TOKEN_SECONDS=